body {
  background-color: #282828;
  color: #fbf1c7;
}

a {
  color: #458588;
}

a:hover {
  color: #83a598;
}

.h2holder {
  text-align: center;
  align-self: center;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

#root .column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: 100%;
  max-width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  padding: 8px 16px;
}

#root .column::-webkit-scrollbar {
  display: none;
}

#root .menu {
  width: 10vw;
  background-color: rgba(251, 241, 199, 0.1);
  justify-content: space-between;
}

.menu .social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu .social .initab-logo img {
  max-width: 100%;
  opacity: 0.6;
}

.menu .social .initab-logo img:hover {
  opacity: 1;
}

.menu .social .social-links {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 0;
  width: 100%;
}

.social .social-links li > a {
  background-color: #458588;
  color: #fbf1c7;
  border-radius: 50%;
  width: 30px;
  display: inline-block;
  height: 30px;
  text-align: center;
  line-height: 30px;
  transition: all 0.2s ease;
}

.social .social-links li > a:hover {
  background-color: #83a598;
}

#root .box {
  display: none;
  width: 90vw;
  height: 100vh;
  transition: all 0.5s ease;
}

#root .box.active {
  display: flex;
  width: 90vw;
}

.box .side {
  width: 20%;
}

.box .middle {
  width: 60%;
}

.navigation {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 1rem;
  text-transform: uppercase;
}

.navigation li {
  margin: 1.2rem 0;
}

.navigation li > i {
  width: 20px;
  text-align: center;
  padding: 4px 2px;
  border-radius: 4px;
  color: #282828;
}

.navigation li > a {
  text-decoration: none;
  font-weight: bold;
}

.navigation .settings > a {
  color: #d79921;
}

.navigation .settings > i {
  background-color: #d79921;
}

.navigation .gists > a {
  color: #98971a;
}

.navigation .gists > i {
  background-color: #98971a;
}

.navigation .so > a {
  color: #d65d0e;
}

.navigation .so > i {
  background-color: #d65d0e;
}

.navigation .trending > a {
  color: #458588;
}

.navigation .trending > i {
  background-color: #458588;
}

.navigation .scratch > a {
  color: #b16286;
}

.navigation .scratch > i {
  background-color: #b16286;
}

.navigation .help > a {
  color: #689d6a;
}

.navigation .help > i {
  background-color: #689d6a;
}

.navigation li > a:hover,
.navigation li > a:active,
.navigation li > a:focus {
  cursor: pointer;
}

.block {
  width: 100%;
  border-bottom: 1px solid #689d6a;
}

.block:last-child {
  border-bottom: none;
}

.block .block__heading {
  text-align: center;
  margin: 2rem 0;
  color: #98971a;
  text-transform: uppercase;
  font-size: 1rem;
}

.reddit .reddit__item {
  font-size: 0.9rem;
  border-left: 2px solid #689d6a;
  padding-left: 0.5rem;
  margin-bottom: 2.5rem;
}

.reddit .reddit__item:last-child {
  margin-bottom: 1.5rem;
}

.reddit .reddit__item p {
  display: block;
  margin: 0;
  color: #fff;
}

.reddit .reddit__item .author {
  display: block;
  color: #458588;
  margin-top: 0.3rem;
}

.reddit .reddit__item .author > a {
  color: #d79921;
  text-decoration: none;
}

.reddit .reddit__item .author > a:hover {
  color: #fabd2f;
  text-decoration: none;
}

.reddit .reddit__item .score {
  display: block;
  color: #b16286;
  margin-top: 0.3rem;
}

.reddit .reddit__item .detail {
  display: block;
  color: #d65d0e;
  text-decoration: none;
  margin-top: 0.3rem;
}

.reddit .reddit__item .detail:hover {
  color: #fe8019;
}

.history__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.history__list li {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.history__list li:last-child {
  margin-bottom: 0.5rem;
}

.history__list a {
  color: #d65d0e;
}

.history__list a:hover {
  color: #fe8019;
}

.history__list .time {
  float: right;
  color: #fbf1c7;
  opacity: 0.3;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 900px;
}

.links ul li {
  margin-bottom: 0.8rem;
  display: block;
  width: 240px;
  overflow: hidden;
}

.vcs-switch {
  display: block;
  text-align: center;
  margin-top: -2rem;
  font-size: 0.8rem;
  color: #b16286;
  text-decoration: none;
}

.vcs-switch:hover {
  color: #d3869b;
}

.vcs {
  margin-top: 2rem;
}

.vcs-tabs {
  text-align: center;
  display: flex;
  justify-content: center;
}

.vcs-tabs .tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #689d6a;
  margin: 0 1rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9rem;
  position: relative;
}

.vcs-tabs .tab:hover {
  color: #8ec07c;
}

.vcs-tabs .tab.active {
  color: #d79921;
}

.vcs-tabs .tab.active:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #d79921;
  bottom: -0.7rem;
  left: calc(50% - 5px);
}

.vcs-tabs .tab.active:hover {
  cursor: default;
}

.vcs-items {
  margin-top: 2rem;
  display: none;
  word-wrap: break-word;
  transition: all 1s ease;
}

.vcs-items.active {
  display: block;
}

.vcs-items__item {
  border-left: 2px solid #689d6a;
  padding-left: 0.5rem;
  margin-bottom: 2.5rem;
  font-size: 0.9rem;
}

.vcs-items__item span {
  display: block;
  margin-top: 0.3rem;
}

.vcs-items__item span:first-child {
  margin-top: 0;
}

.vcs-items__item .repo {
  color: #b16286;
}

.vcs-items__item .issue {
  color: #d79921;
}

.vcs-items__item .desc {
  color: #fff;
}

.vcs-items__item span > a {
  color: inherit;
  text-decoration: none;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 20vw;
  margin: 1.5rem 0.8rem;
}

.input-group label {
  font-size: 0.9rem;
}

.input-group input {
}

.input-group textarea {
  min-height: 250px;
  scrollbar-width: none;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  background-color: #504945;
  border: none;
  border-radius: 2px;
  padding: 0.4rem;
  color: #ebdbb2;
}

#settings {
  flex-flow: row wrap;
}

.timepanel {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.timepanel .datetime {
  text-align: center;
}

.timepanel .datetime span {
  display: block;
}

.timepanel .datetime .time {
  font-size: 6rem;
}

.timepanel .datetime .date {
  font-size: 1.6rem;
  font-weight: bold;
}
